<img src="https://i.imgur.com/1WaY7aA.png" style="float: left;">

## Review of python types, lists, and dictionaries

In [ ]:
# Enter student names here:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

---

### 1. What are the types of the following variables?

In [ ]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

#### A:

    a: integer (or int)
    b: float
    c: list
    d: dictionary (or dict)
    e: tuple
    f: dictionary
    g: boolean (or bool)
    h: boolean
    i: string

---

### 2. What is the difference between a "mutable" and "immutable" object?

_A: Mutable objects can be altered, whereas immutable objects cannot be changed once created._

---

### 3. Print the `student_names` list.

In [ ]:
print(student_names)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

---

### 4. Print the names of the first and last students in the list.

In [ ]:
print(student_names[0])
print(student_names[-1])

s1
s10

---

### 5. Print the first five names in the student list.

In [ ]:
print(student_names[0:5])

['s1', 's2', 's3', 's4', 's5']

---

### 6. Combine the nineth and 10th student names into a single string, separated by a space.  Assign that string to a variable.

In [ ]:
var = student_names[8] + ' ' + student_names[9]
print(var)

s9 s10

---

### 7. Append an animal to the list of animals.

In [ ]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [ ]:
animals.append('gopher')
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'gopher']

---

### 8. Print the length of the animals list.

In [ ]:
print(len(animals))

7

---

### 9. Divide the length of the fifth animal by the second.

In [ ]:
print(len(animals[4])/len(animals[1]))

2

---

### 10. Perform the same division, but ensure output is a decimal number.

In [ ]:
print(float(len(animals[4]))/len(animals[1]))

2.33333333333

---

### 11. Show two different ways to combine the animals list and the numbers list.

In [ ]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [ ]:
print(animals + numbers)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'gopher', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

In [ ]:
animals.extend(numbers)
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'gopher', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 12. Remove 'kiefer' from the list and insert your own in its place.

In [ ]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [ ]:
names.remove('kiefer')
print(names)

['doug', 'billy', 'kian', 'sam']

In [ ]:
names.insert(2, 'your name')
print(names)

['doug', 'billy', 'your name', 'kian', 'sam']

---

### 13. Sort the following list.

In [ ]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [ ]:
mix.sort()

In [ ]:
print(mix)

[12, 12.999, {'key': 'value'}, ['billy', 'sam'], 'a', 'flower', (1, 2, 3)]

---

### 14. Manually check whether one element of `mix` is greater than another.

In [ ]:
mix[5] > mix[2]

True

---

### 15. Find the index of `'a'` in the list.

In [ ]:
mix.index('a')

4

---

### 16. Reverse the `mix` list.

In [ ]:
mix.reverse()

In [ ]:
print(mix)

[(1, 2, 3), 'flower', 'a', ['billy', 'sam'], {'key': 'value'}, 12.999, 12]

---

### 17. Remove the last element of `mix`,  and assign it to a variable.

In [ ]:
var = mix.pop()

In [ ]:
print(var)
print(mix)

12
[(1, 2, 3), 'flower', 'a', ['billy', 'sam'], {'key': 'value'}, 12.999]

---

### 18. Count the number of times `0` appears in the following list.

In [ ]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [ ]:
binary.count(0)

16

---

### 19. Create an SF (San Francisco) zipcode dictionary.

With the following key:value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [ ]:
sf = {'sunset':94122, 'presidio':94129,
      'soma':94105, 'marina':94123}
print(sf)

{'soma': 94105, 'presidio': 94129, 'sunset': 94122, 'marina': 94123}

---

### 20. Get the zipcode for `'soma'`, and assign it to a variable.

In [ ]:
soma = 'soma'
soma_zip = sf[soma]
print(soma_zip)

94105

---

### 21. Get the keys out of the dictionary.

In [ ]:
keys = list(sf.keys())

In [ ]:
print(keys)

['soma', 'presidio', 'sunset', 'marina']

---

### 22. Get the key:value pairs out of the dictionary as a list of tuples.

In [ ]:
kv_pairs = list(sf.items())

In [ ]:
print(kv_pairs)

[('soma', 94105), ('presidio', 94129), ('sunset', 94122), ('marina', 94123)]

---

### 23. Add the castro district to the dictionary with zipcode 94114.

In [ ]:
sf['castro'] = 94114
print(sf)

{'soma': 94105, 'presidio': 94129, 'sunset': 94122, 'castro': 94114, 'marina': 94123}

---

### 24. Combine the following smaller dictionary of districts with the SF zip codedictionary.

In [ ]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [ ]:
sf.update(small)
print(sf)

{'marina': 94123, 'dogpatch': 94107, 'sunset': 94122, 'soma': 94105, 'presidio': 94129, 'outer_richmond': 94121, 'castro': 94114}

---

### 25. Remove the '`sunset`' zipcode, and assign it to a variable.

In [ ]:
sunset = sf.pop('sunset')
print(sf)
print(sunset)

{'marina': 94123, 'dogpatch': 94107, 'soma': 94105, 'presidio': 94129, 'outer_richmond': 94121, 'castro': 94114}
94122

---

### 26. Check if the 'dogpatch' is in the dictionary.

In [ ]:
'dogpatch' in sf

True