![image.png](attachment:image.png)

# Data Science and AI
## Lab 2.1.3: Database Practice with Python and SQLite
INSTRUCTIONS:
- Run the cells
- Observe and understand the results
- Answer the questions

<a name="demo"></a>
## Using SQLite
### Advantages of SQLite
- Does not run on a separate server
- Creates portable SQL databases saved in a single file
- Databases are stored in a very efficient manner and allow fast querying
- Ideal for small databases or databases that need to be copied across machines
- Prototyping applications (e.g. as an embedded database server in a Python program)

### The `sqlite3` Command Line Utility
- Useful for basic SQL tasks and databse maintenance
- For creating and dropping databases, it may be safer to use the command line than to roll the code into a Python program

1. Add the sqlite3 installation folder to your `PATH` environment variable
2. Open a `Command Window` or `Terminal`
3. Navigate to your preferred working directory
4. Start the sqlite3 command line utility and create a database called `mydb`:

    $ sqlite3 mydb

#### Output (on a macOS)

    SQLite version 3.28.0 2019-04-16 19:49:53
    Enter ".help" for usage hints.
    sqlite> 

**Note**: _If there is no database name (after `sqlite3` above) a new, temporary database will be created and will be destroyed upon exiting sqlite3._

Enter the following commands at the sqlite prompt (not shown):

```sql
CREATE TABLE table1
  (
     one VARCHAR(10),
     two SMALLINT
  );
```

```sql
INSERT INTO table1
VALUES     ('hello!', 10);
```

```sql
INSERT INTO table1
VALUES     ('goodbye', 20);
```

```sql
SELECT *
FROM   table1;
```

#### Output

    hello!|10
    goodbye|20

### Help
Enter `.help` at the sqlite3 command prompt. This lists the available **dot commands**.

#### Output

    .archive ...           Manage SQL archives: ".archive --help" for details
    .auth ON|OFF           Show authorizer callbacks
    .backup ?DB? FILE      Backup DB (default "main") to FILE
                             Add "--append" to open using appendvfs.
    .bail on|off           Stop after hitting an error.  Default OFF
    .binary on|off         Turn binary output on or off.  Default OFF
    .cd DIRECTORY          Change the working directory to DIRECTORY
    .changes on|off        Show number of rows changed by SQL
    .check GLOB            Fail if output since .testcase does not match
    .clone NEWDB           Clone data into NEWDB from the existing database
    .databases             List names and files of attached databases
    .dbconfig ?op? ?val?   List or change sqlite3_db_config() options
    .dbinfo ?DB?           Show status information about the database
    .dump ?TABLE? ...      Dump the database in an SQL text format
                             If TABLE specified, only dump tables matching
                             LIKE pattern TABLE.
    .echo on|off           Turn command echo on or off
    .eqp on|off|full       Enable or disable automatic EXPLAIN QUERY PLAN
    .excel                 Display the output of next command in a spreadsheet
    .exit                  Exit this program
    .expert                EXPERIMENTAL. Suggest indexes for specified queries
    .fullschema ?--indent? Show schema and the content of sqlite_stat tables
    .headers on|off        Turn display of headers on or off
    .help                  Show this message
    .import FILE TABLE     Import data from FILE into TABLE
    .imposter INDEX TABLE  Create imposter table TABLE on index INDEX
    .indexes ?TABLE?       Show names of all indexes
                             If TABLE specified, only show indexes for tables
                             matching LIKE pattern TABLE.
    .limit ?LIMIT? ?VAL?   Display or change the value of an SQLITE_LIMIT
    .lint OPTIONS          Report potential schema issues. Options:
                             fkey-indexes     Find missing foreign key indexes
    .load FILE ?ENTRY?     Load an extension library
    .log FILE|off          Turn logging on or off.  FILE can be stderr/stdout
    .mode MODE ?TABLE?     Set output mode where MODE is one of:
                             ascii    Columns/rows delimited by 0x1F and 0x1E
                             csv      Comma-separated values
                             column   Left-aligned columns.  (See .width)
                             html     HTML <table> code
                             insert   SQL insert statements for TABLE
                             line     One value per line
                             list     Values delimited by "|"
                             quote    Escape answers as for SQL
                             tabs     Tab-separated values
                             tcl      TCL list elements
    .nullvalue STRING      Use STRING in place of NULL values
    .once (-e|-x|FILE)     Output for the next SQL command only to FILE
                             or invoke system text editor (-e) or spreadsheet (-x)
                             on the output.
    .open ?OPTIONS? ?FILE? Close existing database and reopen FILE
                             The --new option starts with an empty file
                             Other options: --readonly --append --zip
    .output ?FILE?         Send output to FILE or stdout
    .print STRING...       Print literal STRING
    .prompt MAIN CONTINUE  Replace the standard prompts
    .quit                  Exit this program
    .read FILENAME         Execute SQL in FILENAME
    .restore ?DB? FILE     Restore content of DB (default "main") from FILE
    .save FILE             Write in-memory database into FILE
    .scanstats on|off      Turn sqlite3_stmt_scanstatus() metrics on or off
    .schema ?PATTERN?      Show the CREATE statements matching PATTERN
                              Add --indent for pretty-printing
    .selftest ?--init?     Run tests defined in the SELFTEST table
    .separator COL ?ROW?   Change the column separator and optionally the row
                             separator for both the output mode and .import
    .sha3sum ?OPTIONS...?  Compute a SHA3 hash of database content
    .shell CMD ARGS...     Run CMD ARGS... in a system shell
    .show                  Show the current values for various settings
    .stats ?on|off?        Show stats or turn stats on or off
    .system CMD ARGS...    Run CMD ARGS... in a system shell
    .tables ?TABLE?        List names of tables
                             If TABLE specified, only list tables matching
                             LIKE pattern TABLE.
    .testcase NAME         Begin redirecting output to 'testcase-out.txt'
    .timeout MS            Try opening locked tables for MS milliseconds
    .timer on|off          Turn SQL timer on or off
    .trace FILE|off        Output each SQL statement as it is run
    .vfsinfo ?AUX?         Information about the top-level VFS
    .vfslist               List all available VFSes
    .vfsname ?AUX?         Print the name of the VFS stack
    .width NUM1 NUM2 ...   Set column widths for "column" mode
                             Negative values right-justify

### The `sqlite3` package

The easiest way to incorporate SQL database access into a Python application is by using the `sqlite3` package for [**Python 2.7**](https://docs.python.org/2.7/library/sqlite3.html) or [**Python 3.x**](https://docs.python.org/3/library/sqlite3.html).

Open a connection to an `SQLite` database file.

As before, if the file does not already exist it will automatically be created.

In [ ]:
import sqlite3

import numpy as np
from numpy import genfromtxt

import pandas as pd
from pandas.io import sql as pdsql

In [ ]:
sqlite_db = '../data/test_db.sqlite'

In [ ]:
# encapsulate in a try/catch in case the some error happens
try:
    conn = sqlite3.connect(sqlite_db)
    print('Connected to database %s.' % sqlite_db)
except Exception as ex:
    print('Something went wrong.\nException: %s' % ex)

In [ ]:
# encapsulate in a try/catch in case the some error happens
try:
    c = conn.cursor()
except Exception as ex:
    print('Something went wrong.\nException: %s' % ex)

Commands can be executed by passing them as string arguments to the `execute` method of the cursor we just created for this database.

In [ ]:
# define with table to use
table = 'houses'
sql = 'DROP TABLE %s;' % table

# encapsulate in a try/catch in case the table does not exist
try:
    c.execute(sql)
except sqlite3.OperationalError:
    print('Table %s did not exist.' % table)

# Save (commit) the changes:
conn.commit()

In [ ]:
sql = '''
CREATE TABLE houses
  (
     field1 INTEGER PRIMARY KEY,
     sqft   INTEGER,
     bdrms  INTEGER,
     age    INTEGER,
     price  INTEGER
  );
'''

c.execute(sql)
conn.commit()

With the database saved the table should now be viewable using SQLite Manager.

#### Adding data

Since we are back in Python, we can now use regular programming techniques in conjunction with the sqlite connection. In particular, the cursor's `execute()` method supports value substitution using the `?` character, which makes adding multiple records a bit easier and is part of the regular `SQL` syntax.

**Note**: The `?` parameters are placeholders for data that will map to the table columns during insertion. This is **also** a security measure against SQL injection attacks

See the **docs** for more details
- [Python 2.7](https://docs.python.org/2.7/library/sqlite3.html)
- [Python 3.6](https://docs.python.org/3.6/library/sqlite3.html)

**Hint**: `c.execute(sql_command, values)`

In [ ]:
last_sale = (None, 4000, 5, 22, 619000)
sql = '''
INSERT INTO houses
VALUES      (?, ?, ?, ?, ?);
'''

c.execute(sql, last_sale)

# Remember to commit the changes
conn.commit()

Notice that in this syntax we use the python `None` value, rather than `NULL`, to trigger SQLite to auto-increment the Primary Key. 

There is a related cursor method `executemany()` which takes an array of tuples and loops through them, substituting one tuple at a time.

**Hint**: `c.executemany(sql_command, values)`

In [ ]:
recent_sales = [
    (None, 2390, 4, 34, 319000),
    (None, 1870, 3, 14, 289000),
    (None, 1505, 3, 90, 269000),
]
sql = '''
INSERT INTO houses
VALUES      (?, ?, ?, ?, ?);
'''

c.executemany(sql, recent_sales)
conn.commit()

Select all rows from houses.

In [ ]:
sql = '''
SELECT *
FROM   houses
;
'''
c.execute(sql).fetchall()

#### Adding data from a `csv` file
One way to populate the database from a file is to use `numpy.genfromtxt()` to read the file into an array (converted to a list for easier handling), and then `INSERT` those records into the database.

The `genfromtxt()` method has options including the output data type, handling of missing values, skipping of header and footer rows, columns to read, and more.

In [ ]:
# import into nparray of ints, then convert to list of lists:
data = genfromtxt(
    '../data/housing-data.csv',
    dtype='i8',
    delimiter=',',
    skip_header=1).tolist()

In [ ]:
# sample the data
data[:5]

Suppose we need to put a placeholder in the first column for data that will be available later.

**Best practice is to insert the value `None`**.

In [ ]:
# prepend a None value to beginning of each sub-list:
for d in data:
    d.insert(0, None)

**Note**: This is why we converted the input array to a list. An array can only hold one type of data (integers in this case) so we could not have inserted `None` before we did this conversion.

In [ ]:
# sample the data
print(type(data))
data[:5]

Now we can insert each list item as a row of fields in the database.

In [ ]:
sql = '''
INSERT INTO houses
VALUES     (?, ?, ?, ?, ?)
;
'''

# loop through data, running an INSERT on each record (i.e. sublist):
for d in data:
    c.execute(sql, d)

conn.commit()

In this case, because we were inserting the same value for all records, so we could have simply used a `None` in the numpy `insert()` method at column zero.

In [ ]:
d1 = np.asarray([1200, 3, 15, 250000])
d1 = d1.tolist()
d1.insert(0, None)
d1

In [ ]:
sql = '''
INSERT INTO houses
VALUES     (?, ?, ?, ?, ?);
'''

c.execute(sql, d1)
conn.commit()

#### Deleting Rows
The `DELETE FROM` statement can be used with a `WHERE` clause to specify rows to delete based on some criteria.

**QUIZ**: What the `DELETE FROM <table>` deletes if the `WHERE` clause is not used?
> The `DELETE FROM` deletes **ALL** rows if the `WHERE` clause is not used!

In [ ]:
delete_this = [52, 53]
sql = '''
DELETE FROM houses
WHERE  field1 IN ( %s );
''' % ', '.join(['%d' % n for n in delete_this])

print('SQL Statement:\n%s' % sql)

c.execute(sql)
conn.commit()

#### Filtering Rows

##### 1. Select Rows Where Bedrooms = 4

In [ ]:
sql = '''
SELECT *
FROM   houses
WHERE  bdrms = 4;
'''

# similar syntax as before
results = c.execute(sql)

# here results is a cursor object - use fetchall() to extract a list
results.fetchall()

##### 2. Run a query to show the effect of the `DELETE` command that was executed above

**HINT**: You can use the `WHERE` clause to reduce the size of the row set to the region of interest.

In [ ]:
sql = '''
SELECT *
FROM   houses
WHERE  field1 >= 50
   AND field1 < 59;
'''

results = c.execute(sql)
results.fetchall()

##### 3. Run a query to calculate the average floor area and price of each size of house (i.e. by number of bedrooms)

In [ ]:
sql = '''
SELECT bdrms,
       Avg(sqft)  AS avg_sqft,
       Avg(price) AS avg_price
FROM   houses
GROUP  BY bdrms;
'''

results = c.execute(sql)
results.fetchall()

### Pandas connector

While databases provide many analytical capabilities, at some point we may need to pull data into Python for more flexible processing. Large, fixed operations would be more efficient in a database, but Pandas allows for interactive processing.

For example, if you want to aggregate nightly log-ins or sales for a report or dashboard, this would be a fixed operation on a large dataset. These computations would run more efficiently in the database system itself.

However, if we wanted to model the patterns of login behaviour or factors driving sales, then we would import the data to Python where we could use its simple interfaces to powerful analytic libraries.

```python
import pandas as pd
from pandas.io import sql
```

Pandas can connect to most relational databases. In this demonstration, we will create and connect to a SQLite database.

### Writing data into a database

Data in Pandas can be loaded into a relational database.

If the data table is not too large, we can load all of it into a Pandas DataFrame.

In [ ]:
# Note: Use `low_memory = False` to ensure that type inference does not fail
#       due to buffered processing of input
data = pd.read_csv('../data/housing-data.csv', low_memory=False)
data.head()

We can move data in the opposite direction (from a DataFrame to a database) using the `to_sql()` method, similar to the `to_csv()` method.

`to_sql()` takes as arguments
- `name`, the table name to create
- `con`, a connection to a database
- `index`, whether to input the index column
- `schema`, if we want to write a custom schema for the new table
- `if_exists`, what to do if the table already exists. We can overwrite it, add to it, or fail

**Note**: Always check the documentation relevant to the version of the packages in use.

This copies our `data` DataFrame to a sqlite3 table called `houses_pandas`.

In [ ]:
data.to_sql(
    'houses_pandas',
    con=conn,
    if_exists='replace',
    index=False)

#### Run a query to get the average price of each house size from this table

In [ ]:
sql = '''
SELECT bdrms,
       Avg(price)
FROM   houses_pandas
GROUP  BY bdrms;
'''

c.execute(sql).fetchall()

### Clean up after yourself
Never forget to close `cursor`s and connections.

If closing both, close the cursor **first**.

In [ ]:
# close the cursor first
c.close()
# close the connection at the very end
conn.close()

## Discussion
**Scenarios for using Pandas with SQLite**

1. When would you want to use Pandas on a dataset before storing it in a database?
2. When would you want to use Pandas on a dataset retrieved from a database?

<a name="guided-practice"></a>
## Reference: SQL Syntax
### SELECT Statement
Every query should start with `SELECT`. `SELECT` is followed by the names of the columns in the output.

`SELECT` is always paired with `FROM`, and `FROM` identifies the table to retrieve data from.

```sql
SELECT <columns>
FROM   <table>
```

`SELECT *` denotes returns **all** of the columns.

Housing Data example:
```sql
SELECT sqft, bdrms
FROM   houses_pandas
;
```

**Check**: Write a query that returns the `sqft`, `bdrms` and `price`.

```sql
SELECT sqft, bdrms, price
FROM   houses_pandas
;
```

### WHERE Clause
`WHERE` is used to filter table to a specific criteria and follows the `FROM` clause.

```sql
SELECT <columns>
FROM   <table>
WHERE  <condition>
```

Example:
```sql
SELECT sqft, bdrms, age, price
FROM   houses_pandas
WHERE  bdrms = 2
   AND price < 250000
;
```

The condition is effectively a row filter; rows that match the condition will be included in the rowset that is returned by the query.

**Check**: Write a query that returns the `sqft`, `bdrms`, `age` for houses older than _60_ years.

```sql
SELECT sqft, bdrms, age
FROM   houses_pandas
WHERE  age > 60
;
```

### AGGREGATIONS
Aggregations (or aggregate functions) are functions where the values of multiple rows are grouped together as input on certain criteria to form a single value of more significant meaning or measurement such as a set, a bag or a list.

Examples of aggregate funtions:

- Average (i.e., arithmetic mean)
- Count
- Maximum
- Minimum
- Median
- Mode
- Sum

In SQL they are performed in a `SELECT` statement as follows.

```sql
SELECT COUNT(price)
FROM   houses_pandas
;
```

```sql
SELECT AVG(sqft), MIN(price), MAX(price)
FROM   houses_pandas
WHERE  bdrms = 2
;
```

### Read Order Data
- P12-ListOfOrders.csv
- P12-OrderBreakdown.csv

##### 1. Read CSV into DataFrame

In [ ]:
# Reading CSV to Dataframe
orders = pd.read_csv('../data/P12-ListOfOrders.csv',
                     encoding='utf-8')
orders_break_down = pd.read_csv('../data/P12-OrderBreakdown.csv',
                                encoding='utf-8')

In [ ]:
orders.head()

In [ ]:
orders_break_down.head()

##### 2. Replace Space with Underscore in Column Names

In [ ]:
orders.columns = [o.replace(' ', '_')
                  for o in orders.columns.str.lower()]
orders_break_down.columns = [o.replace(' ', '_')
                             for o in orders_break_down.columns.str.lower()]

##### 3. Check DataTypes

In [ ]:
print(orders.dtypes)
print(orders_break_down.dtypes)

##### 4. Save these two dataframes as a table in sqlite

In [ ]:
# database
sqlite_db = '../data/eshop.db.sqlite'

# connection to RDBMS
try:
    conn = sqlite3.connect(sqlite_db)
    print('Connected to database %s.' % sqlite_db)
except Exception as ex:
    print('Something went wrong.\nException: %s' % ex)

orders.to_sql(
    name='orders',
    con=conn,
    if_exists='replace',
    index=False)
orders_break_down.to_sql(
    name='orders_break_down',
    con=conn,
    if_exists='replace',
    index=False)

##### 5. Select Number of Orders for Each Customer

In [ ]:
# Select Number of Orders for Each Customer
sql = '''
SELECT customer_name,
       Count(DISTINCT orders.order_id) AS Count
FROM   orders
       JOIN orders_break_down
         ON orders_break_down.order_id = orders.order_id
GROUP  BY customer_name
ORDER  BY count DESC;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 6. Select Number of Customers for Each Country

In [ ]:
# Select Number of Customers for Each Country
sql = '''
SELECT country,
       Count(DISTINCT customer_name) AS Count
FROM   orders
GROUP  BY country
ORDER  BY count DESC;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 7.A Select discount, sales, quantity for Each Order from orders_break_down Table

In [ ]:
# Select discount, sales, quantity for Each Order from orders_break_down Table
sql = '''
SELECT discount,
       sales,
       quantity
FROM   orders_break_down;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 7.B Select discount, sales, quantity, total price for Each Order from orders_break_down Table
    Total Price = sales * quantity - discount

In [ ]:
# Select discount, sales, quantity, total price
# for Each Order from orders_break_down Table
sql = '''
SELECT discount,
       sales,
       quantity,
       ( sales * quantity - discount ) AS total_price
FROM   orders_break_down
ORDER  BY total_price DESC;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 7.C Select All Orders from orders_break_down Table Where Total Price Greater Than 100

In [ ]:
# Select All Orders from orders_break_down Table Where Total Price Greater Than 100
sql = '''
SELECT *,
       ( sales * quantity - discount ) AS total_price
FROM   orders_break_down
WHERE  sales * quantity - discount > 100
ORDER  BY total_price ASC;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 8. Select All Customer And The Product They Have Bought

In [ ]:
# Select All Customer And The Product They Have Bought
sql = '''
SELECT orders.order_id,
       orders.customer_name,
       orders_break_down.product_name
FROM   orders
       JOIN orders_break_down
         ON orders.order_id = orders_break_down.order_id;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 9.A Select Number of 'Furniture' Orders For Each Country

In [ ]:
# Select Number of 'Furniture' Orders For Each Country
sql = '''
SELECT orders.country,
       Count(orders_break_down.category) AS Count
FROM   orders
       JOIN orders_break_down
         ON orders.order_id = orders_break_down.order_id
WHERE  orders_break_down.category = 'Furniture'
GROUP  BY orders.country;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 9.B Select Number of 'Furniture' Orders For The Country Denmark

In [ ]:
# Select Number of 'Furniture' Orders For The Country Denmark
sql = '''
SELECT *
FROM   orders
       JOIN orders_break_down
         ON orders.order_id = orders_break_down.order_id
WHERE  orders_break_down.category = 'Furniture'
       AND orders.country = 'Denmark';
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 10. Select Total Sales With Discount and Without Discount for Each Country

In [ ]:
# Select Total Sales With Discount and Without Discount for Each Country
sql = '''
SELECT orders.country,
       SUM(CASE
             WHEN discount == 0 THEN sales
             ELSE 0
           END) AS discount_sales,
       SUM(CASE
             WHEN discount > 0 THEN sales
             ELSE 0
           END) AS non_discount_sales
FROM   orders
       join orders_break_down
         ON orders.order_id = orders_break_down.order_id
GROUP  BY orders.country;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 11.A Select Total Quantity, Total Sales for Each Country

In [ ]:
# Select Total Quantity, Total Sales for Each Country
sql = '''
SELECT orders.country,
       Sum(sales)    AS total_sales,
       Sum(quantity) AS total_quantity
FROM   orders
       JOIN orders_break_down
         ON orders.order_id = orders_break_down.order_id
GROUP  BY orders.country;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 11.B Select Top 3 Country Based on Sales

In [ ]:
# Select Top 3 Country Based on Sales
sql = '''
SELECT orders.country,
       Sum(sales)    AS total_sales,
       Sum(quantity) AS total_quantity
FROM   orders
       JOIN orders_break_down
         ON orders.order_id = orders_break_down.order_id
GROUP  BY orders.country
ORDER  BY total_sales DESC
LIMIT  3;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 11.C Select Bottom 3 Country Based On Quantities

In [ ]:
# Select Bottom 3 Country Based On Quantities
sql = '''
SELECT orders.country,
       Sum(sales)    AS total_sales,
       Sum(quantity) AS total_quantity
FROM   orders
       JOIN orders_break_down
         ON orders.order_id = orders_break_down.order_id
GROUP  BY orders.country
ORDER  BY total_quantity ASC
LIMIT  3;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 12. Select Average Sales By Categroy For The Country 'France'

In [ ]:
# Select Average Sales By Categroy For The Country 'France'
sql = '''
SELECT orders.country,
       orders_break_down.category,
       Avg(sales) AS avg_sales
FROM   orders
       JOIN orders_break_down
         ON orders.order_id = orders_break_down.order_id
WHERE  orders.country = 'France'
GROUP  BY orders.country,
          orders_break_down.category
ORDER  BY avg_sales DESC;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

##### 13. Select Country, Category and Total Sales Where Average Total Sales is The Highest

In [ ]:
# Select Country, Category and Total Sales Where Average Total Sales is The Highest
sql = '''
SELECT orders.country,
       orders_break_down.category,
       Avg(sales) AS total_sales
FROM   orders
       JOIN orders_break_down
         ON orders.order_id = orders_break_down.order_id
GROUP  BY orders.country,
          orders_break_down.category
ORDER  BY total_sales DESC
LIMIT  1;
'''

customers = pdsql.read_sql(sql, con=conn)
customers.head()

In [ ]:
# close the connection at the very end
conn.close()

### JOINS
Below is a link to a handy reference for SQL joins. In this chart joins are represented in terms of sets and venn diagrams.

- https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins

Alternatively, remember the merge functionality of pandas.

- https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

### ADDITIONAL RESOURCES
- [sqlite3 home](http://www.sqlite.org)  
- [sqlite3 Python documentation](https://docs.python.org/3/library/sqlite3.html)
- [SQLite Python tutorial](http://sebastianraschka.com/Articles/2014_sqlite_in_python_tutorial.html)  
- [SQL zoo](http://www.sqlzoo.net) Great for learning syntax
- [Instant SQL Formatter](http://www.dpriver.com/pp/sqlformat.htm)