#### 1. Lambda 
Lambda function is a small anonymous function. It can take any number of arguments, but can only have one expression

In [1]:
import numpy as np
import pandas as pd

import re
from decimal import *

In [2]:
x = lambda a : a + 10
print(x(5))

15

In [3]:
x = lambda a, b : a * b
print(x(5,6))

30

In [4]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [5]:
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
mytripler = myfunc(3)
print(mydoubler(11))
print(mytripler(11))

22
33

In [6]:
def fahrenheit(T):
    return ((float(9)/5)* T + 32)

def celsius(T):
    return (float(5)/9)*(T-32)

temperatures = (36.5, 37, 37.5, 38, 39)

temperatures_in_Fahrenheit = list(map(fahrenheit, temperatures))
temperatures_in_Celsius = list(map(celsius,temperatures_in_Fahrenheit))
print(np.round(np.array(temperatures_in_Fahrenheit),decimals=1))
print(np.round(np.array(temperatures_in_Celsius),decimals=1))
Fahrenheit = [float(Decimal("%.2f" % e)) for e in temperatures_in_Fahrenheit]
Celcius = [float(Decimal("%.2f" %e)) for e in temperatures_in_Celsius]
print(Fahrenheit)
print(Celcius)

[ 97.7  98.6  99.5 100.4 102.2]
[36.5 37.  37.5 38.  39. ]
[97.7, 98.6, 99.5, 100.4, 102.2]
[36.5, 37.0, 37.5, 38.0, 39.0]

In [7]:
C = (36.5, 37, 37.5, 38, 39)

Farenheit = list(map(lambda x : (float(9)/5) * x + 32, C))
F = [float(Decimal("%.2f" % e)) for e in Fahrenheit]
Celsius = list(map(lambda x : (float(5)/9) * (x - 32), F))
C = [float(Decimal("%.2f" %e)) for e in Celsius]
print(F)
print(C)

[97.7, 98.6, 99.5, 100.4, 102.2]
[36.5, 37.0, 37.5, 38.0, 39.0]

In [8]:
# Using lambda in dataframe apply function 
# List of Tuples
matrix = [(222, 34, 23),
(333, 31, 11),
(444, 16, 21),
(555, 32, 22),
(666, 33, 27),
(777, 35, 11)
]
# Create a DataFrame object
df = pd.DataFrame(matrix, columns=list('abc'))

In [9]:
new_col = df.apply(lambda x : x + 10)
print(new_col)

     a   b   c
0  232  44  33
1  343  41  21
2  454  26  31
3  565  42  32
4  676  43  37
5  787  45  21

In [10]:
new_row = df.apply(lambda x : x - 5, axis = 1)
print(new_row)

     a   b   c
0  217  29  18
1  328  26   6
2  439  11  16
3  550  27  17
4  661  28  22
5  772  30   6

#### 2. Regular Expression
The re module offers a set of functions that allows us to search a string for a match

| Function | Description                                                         |
|----------|---------------------------------------------------------------------|
|findall   | Returns a list containing all matches                               |
|search	   | Returns a Match object if there is a match anywhere in the string   | 
|split	   | Returns a list where the string has been split at each match        |
|sub	   | Replaces one or many matches with a string                          |

In [11]:

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
if (x):
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

In [12]:
# Print a list of all matches
str = "The rain in Spain"
x = re.findall("ai", str)
print(x)

['ai', 'ai']

In [13]:
# Return an empty list if no match was found
str = "The rain in Spain"
x = re.findall("Portugal", str)
print(x)

[]

In [14]:
# Search for the first white-space character in the string 
str = "The rain in Spain"
x = re.search("\s", str)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [15]:
# Split at each white-space character
str = "The rain in Spain"
x = re.split("\s", str)
print(x)

['The', 'rain', 'in', 'Spain']

In [16]:
# Split the string only at the first occurrence 
str = "The rain in Spain"
x = re.split("\s", str, 1)
print(x)

['The', 'rain in Spain']

In [17]:
# Replace every white-space character with the number 9
str = "The rain in Spain"
x = re.sub("\s", "9", str)
print(x)

The9rain9in9Spain

In [18]:
# Replace the first 2 occurrence
str = "The rain in Spain"
x = re.sub("\s", "9", str, 2)
print(x)

The9rain9in Spain

In [19]:
# Print the position (start- and end-position) of the first match occurrence
# The regular expression looks for any words that starts with an upper case "S"
str = "The rain in Spain"
x = re.search(r"\bS\w+", str)
print(x.span())

(12, 17)

In [20]:
# Print the string passed into the function
str = "The rain in Spain"
x = re.search(r"\bS\w+", str)
print(x.string)

The rain in Spain

In [21]:
# The regular expression looks for any words that starts with an upper case "S"
str = "The rain in Spain"
x = re.search(r"\bS\w+", str)
print(x.group())

Spain